{% extends 'devices/base.html' %}

{% load staticfiles %}

{% block body_block %}
<h1>test</h1>
<div id="mapid" style="width: 1200px; height: 800px;"></div>
<p id="fooHolder"></p>

<script type="text/javascript">

    	var mymap = L.mapbox.map('mapid','mapbox.streets').setView([46.7984, 8.231879], 8);
        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox.streets',
        accessToken: 'pk.eyJ1IjoiZHJrYWxybWFyeHgiLCJhIjoiY2poeGl3NXc3MGI2dzNxcHV1eHh2OGh4ZyJ9.9VnqOY3kY8Rid8FUFb2Okw',
    }).addTo(mymap);
    var markersLayer = L.featureGroup().on("click", groupClick);
    var hexLayer = L.hexbinLayer(markersLayer, {
                  style: hexbinStyle,
                  mouse: makePie
                }).addTo(mymap);
    var i=0;
    var marker = []
    {% for sensor in owner_sensor_list %}
       i+=1;
       marker[i] = L.marker([{{ sensor.latitude }}, {{ sensor.longitude }}]).addTo(markersLayer);
       marker[i].bindPopup('{{sensor.location}}');
       marker[i].id = {{sensor.id}}
    {% endfor %}
    function groupClick(event) {
        showData(event.layer.id);
    }


    function showData(marker_id) {
        ajaxGet('/devices/api/'+String(marker_id)+'/getSensorData', function(content){
            //onSuccess
            document.getElementById("fooHolder").innerHTML = content.toString();
            alert(content);
        })
        var a = 1;
        }
</script>

{% endblock %}

