{% extends 'devices/base.html' %}

{% load staticfiles %}

{% block body_block %}
<div id="mapid" style="height: 400px; width:100%"></div>

<select id="sensor_value_selection" onchange='loadHexbin(this)'>
{% for entry in value_type_list %}
    <option value="{{entry}}">{{entry}}</option>
{% endfor %}
</select>
<canvas id="myChart" width="500" height="200"></canvas>

<div id="hovered">
	<label>Hovered: </label>
	<span class="count"></span>
</div>


<script type="text/javascript">


        //L.mapbox.accessToken = 'pk.eyJ1IjoiZHJrYWxybWFyeHgiLCJhIjoiY2poeGl3NXc3MGI2dzNxcHV1eHh2OGh4ZyJ9.9VnqOY3kY8Rid8FUFb2Okw'
    	var mymap = L.map('mapid','mapbox.streets').setView([46.7984, 8.231879], 8);
        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox.streets',
        renderer: L.svg(),
        accessToken: 'pk.eyJ1IjoiZHJrYWxybWFyeHgiLCJhIjoiY2poeGl3NXc3MGI2dzNxcHV1eHh2OGh4ZyJ9.9VnqOY3kY8Rid8FUFb2Okw',
    }).addTo(mymap);
		// Make a reusable color scale array
		var colorRange = [ 'green', 'yellow', 'red' ];
		// Create the legend to illustrate the color scale being divergent
    var options = {
    radius : 12,
    radiusRange: [ 12, 20 ],
    opacity: 0.5,
    duration: 500,
    colorRange: colorRange,
    colorScaleExtent: [0,100]
};
var sensorValueSelection = document.getElementById("sensor_value_selection");
function loadHexbin(d) {

        $.get('/devices/api/'+d.value+'/getSensorData', function(result){
            //onSuccess
            alert(result);
			var data = [];
			jQuery.each(result['data'], function(sensor) {
			   data.push([this.longitude, this.latitude,this.currentvalue,this.id]);


			});
			hexLayer.data(data);
        });


	}

    var hexLayer = L.hexbinLayer(options).addTo(mymap)
    hexLayer
  .radiusRange([6, 11])
	.lng(function(d) { return d[0]; })
  .lat(function(d) { return d[1]; })
  .colorValue(function(d){
                    return calculateMean(d);
                })
  .radiusValue(function(d) { return d.length; })
  .hoverHandler(L.HexbinHoverHandler.resizeFill());

	// Set up hover handler
	hexLayer.hoverHandler(L.HexbinHoverHandler.tooltip(function(d){
                    return calculateMean(d);}));

	hexLayer.dispatch()
		.on('mouseover', function(d, i) {setHovered(d);})
		.on('click', function(d, i) {
				showDataMulti(d);
			});

	var ctx = $("#myChart").get(0).getContext("2d");
	var config = {
		type: 'line',
		 data: '',
		 options: {
			responsive: true,
			title: {
				text: 'Chart.js Time Scale'
			},
			scales: {
				xAxes: [{
					type: 'time',
					display: true,
					scaleLabel: {
						display: true,
						labelString: 'Date'
					}
				}],
				yAxes: [{
					scaleLabel: {
						display: true,
						labelString: 'value'
					}
				}]
			},
		},
	}
	window.myLine=new Chart(ctx, config);
	function calculateMean(d) {
		var sum = 0;
		d.forEach(function (datum) {
				sum += datum.o[2];
			});
		var mean = sum / d.length;
		return mean;
		}

	function setHovered(d) {
		    d3.select('#hovered .count').text((null != d) ? calculateMean(d) : '');

		}
    var i=0;

    var data = [];
    {% for sensor in owner_sensor_list %}
       data.push([{{ sensor.longitude }}, {{ sensor.latitude }},{{sensor.currentvalue}},{{sensor.id}}]);
    {% endfor %}
    hexLayer.data(data);

	function showData(marker_id) {
        ajaxGet('/devices/api/'+String(marker_id)+'/getSensorData', function(content){
            //onSuccess
            var ctx = $("#myChart").get(0).getContext("2d");
                new Chart(ctx, {
                    type: 'line', data: data
                });
            alert(content);
        })
        var a = 1;
        }

	function showDataMulti(d) {
		var urlIDs='';
		var timeFormat = 'YYYY-MM-DD HH:mm:ss';
		d.forEach(function (datum) {
				urlIDs+= String(datum.o[3])+'&';
			});
		urlIDs =  urlIDs.slice(0,-1);
        $.get('/devices/api/'+sensorValueSelection.options[sensorValueSelection.selectedIndex].value+'/'+urlIDs+'/getSensorData', function(data){
            //onSuccess
			config.data = data;
			window.myLine.update();
        });
	}


</script>

{% endblock %}

